

# <span style="color:red">**PinpointAI**</span>

## **Collecting Coordinates from Public Dataset**

In [26]:
import pandas as pd
import requests

# Specify the path to your Excel file
file_path = '/Users/mbouch17/Desktop/Personal_Data_Project/PinpointAI/worldcities.csv'

# Import the Excel file
df_ww = pd.read_csv(file_path)

# Display the first few rows of the dataframe
df_ww.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629

In [27]:
df_ww.shape

(47868, 11)

In [28]:
df_ww.isnull().sum()

city              0
city_ascii        1
lat               0
lng               0
country           0
iso2             33
iso3              0
admin_name      197
capital       34845
population      212
id                0
dtype: int64

In [32]:
# Filter the DataFrame for rows where 'iso2' is 'FR'
df_fr = df_ww[df_ww['iso2'] == 'FR']

# Display the new DataFrame
df_fr

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
36,Paris,Paris,48.8567,2.3522,France,FR,FRA,Île-de-France,primary,11060000.0,1250015082
775,Bordeaux,Bordeaux,44.8400,-0.5800,France,FR,FRA,Nouvelle-Aquitaine,admin,994920.0,1250449238
884,Marseille,Marseille,43.2964,5.3700,France,FR,FRA,Provence-Alpes-Côte d’Azur,admin,873076.0,1250774071
1416,Lyon,Lyon,45.7600,4.8400,France,FR,FRA,Auvergne-Rhône-Alpes,admin,522250.0,1250196189
1462,Toulouse,Toulouse,43.6045,1.4440,France,FR,FRA,Occitanie,admin,504078.0,1250258110
...,...,...,...,...,...,...,...,...,...,...,...
46330,Pérenchies,Perenchies,50.6686,2.9731,France,FR,FRA,Hauts-de-France,NaN,8519.0,1250110921
46352,Thaon-les-Vosges,Thaon-les-Vosges,48.2510,6.4200,France,FR,FRA,Grand Est,NaN,8513.0,1250742789
46356,Sautron,Sautron,47.2644,-1.6667,France,FR,FRA,Pays de la Loire,NaN,8512.0,1250927187
46373,Liffré,Liffre,48.2142,-1.5067,France,FR,FRA,Bretagne,NaN,8507.0,1250597226
46390,Saint-Vallier,Saint-Vallier,46.6428,4.3719,France,FR,FRA,Bourgogne-Franche-Comté,NaN,8503.0,1250395807

## **List of  Data Frames**

In [29]:
# df_ww
# Public csv file: Store WW cities coordinates

In [30]:
# df_fr
# Public csv file: Store FR cities coordinates

In [31]:
# df_coordinates_fr1 | valid_ coordinates_fr1.csv
# df_coordinates_fr2 | valid_ coordinates_fr2.csv
# df_coordinates_fr3 | valid_ coordinates_fr3.csv
# df_coordinates_fr4 | valid_ coordinates_fr4.csv
# df_coordinates_fr5 | valid_ coordinates_fr5.csv
# df_coordinates_fr6 | valid_ coordinates_fr6.csv
# df_coordinates_fr7 | valid_ coordinates_fr7.csv

# Store random coordinates (latitude, longitude) within France that have a Streetview coverage.

## **Collecting Random Coordinates in France Using Google Streetview API**

import requests
import random
import time
import pandas as pd  # Import pandas to create a DataFrame
import geopandas as gpd  # Import geopandas for geospatial data processing

# Set up API Keys
STREET_VIEW_API_KEY = "AIzaSyDugvJ210sXsrpBIRtR7B2tIsNNcFiJjqk"  # Replace with your Google Street View API Key
num_coordinates = 5000  # Number of coordinates to generate

# Load the France boundary from the JSON file (GeoJSON format)
france_gdf = gpd.read_file('/Users/mbouch17/Desktop/Personal_Data_Project/PinpointAI/france.json')  # Corrected path

# Function to generate random coordinates within the bounding box of France
def generate_random_coordinate():
    # Get the bounding box of the France polygon
    minx, miny, maxx, maxy = france_gdf.bounds.values[0]
    lat = random.uniform(miny, maxy)
    lon = random.uniform(minx, maxx)
    return lat, lon

# Function to check if a location has Google Street View coverage
def check_streetview_coverage(lat, lon):
    url = f"https://maps.googleapis.com/maps/api/streetview/metadata?location={lat},{lon}&key={STREET_VIEW_API_KEY}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        print(f"Response for {lat}, {lon}: {data['status']}")  # Debug print
        return data.get("status") == "OK"
    print(f"Failed request for {lat}, {lon}, status code: {response.status_code}")  # Debug if request fails
    return False

# List to store valid coordinates with Street View coverage
valid_coordinates = []

# Loop until we collect 5000 valid coordinates (or more)
while len(valid_coordinates) < num_coordinates:
    lat, lon = generate_random_coordinate()
    print(f"Generated coordinate: ({lat}, {lon})")  # Debug print for each generated coordinate
    if check_streetview_coverage(lat, lon):
        valid_coordinates.append((lat, lon))
        print(f"Added valid coordinate: ({lat}, {lon})")

    # Sleep to prevent hitting API rate limits (adjust as needed)
    time.sleep(0.1)  # Reduce sleep time if your API allows higher frequency calls

# After the loop, valid_coordinates will contain the valid coordinates with Street View coverage
print(f"Successfully collected {len(valid_coordinates)} coordinates with Street View coverage.")

# Store the coordinates in a pandas DataFrame
df_coordinates_fr7 = pd.DataFrame(valid_coordinates, columns=["Latitude", "Longitude"])

# Optionally, save the DataFrame to a CSV file
df_coordinates_fr7.to_csv("valid_coordinates_fr7.csv", index=False)

# Print the first few rows of the DataFrame for verification
print(df_coordinates_fr7.head())