

# <span style="color:red">**PinpointAI**</span>

## ***Notes***

In [51]:
# IP Geolocation API (1000 calls per day max)
# https://app.abstractapi.com/api/ip-geolocation/tester

In [52]:
import pandas as pd
import requests

# Specify the path to your Excel file
file_path = '/Users/mbouch17/Desktop/Personal_Data_Project/PinpointAI/worldcities.csv'

# Import the Excel file
df_ww = pd.read_csv(file_path)

# Display the first few rows of the dataframe
df_ww.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629

In [53]:
df_ww.shape

(47868, 11)

In [54]:
df_ww.isnull().sum()

city              0
city_ascii        1
lat               0
lng               0
country           0
iso2             33
iso3              0
admin_name      197
capital       34845
population      212
id                0
dtype: int64

## *List of  Data Frames*

In [ ]:
# df_images
# Store google image streetview based on coordinates

In [ ]:
# df_ww
# Public csv file : Store WW cities coordinates

In [ ]:
# df_fr
# Public csv file : Store FR cities coordinates

In [ ]:
# df_coordinates1
# Store 1000 random coordinates from all random streetview location in France, Andorra, Luxemburg. Also include parts of Italy, Spain, Germany, 90% of Switzerland, 80% of Belgium and  a small section of Netherlands

In [ ]:
# df_coordinates2 (WIP)
# Same purpose as df_coordinates1

In [63]:
df_coordinates3.head()

    Latitude  Longitude
0  48.502933   9.170228
1  45.541638   1.524269
2  47.072288   3.040149
3  44.900643   8.063164
4  49.360638   6.186067

In [61]:
df_coordinates2.head()

    Latitude  Longitude
0  48.539645   7.677287
1  49.660573   0.162917
2  43.301026  -2.994311
3  50.148928   1.821579
4  47.074279   2.354251

In [60]:
df_coordinates1.head()

    Latitude  Longitude
0  48.451138   8.643300
1  50.775667  -3.407368
2  46.932466   2.118208
3  45.611479   3.715073
4  42.212476  -2.238536

## **1. Getting Random Coordinates in France**

In [55]:
# Filter the DataFrame for rows where 'iso2' is 'FR'
df_fr = df_ww[df_ww['iso2'] == 'FR']

# Display the new DataFrame
df_fr

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
36,Paris,Paris,48.8567,2.3522,France,FR,FRA,Île-de-France,primary,11060000.0,1250015082
775,Bordeaux,Bordeaux,44.8400,-0.5800,France,FR,FRA,Nouvelle-Aquitaine,admin,994920.0,1250449238
884,Marseille,Marseille,43.2964,5.3700,France,FR,FRA,Provence-Alpes-Côte d’Azur,admin,873076.0,1250774071
1416,Lyon,Lyon,45.7600,4.8400,France,FR,FRA,Auvergne-Rhône-Alpes,admin,522250.0,1250196189
1462,Toulouse,Toulouse,43.6045,1.4440,France,FR,FRA,Occitanie,admin,504078.0,1250258110
...,...,...,...,...,...,...,...,...,...,...,...
46330,Pérenchies,Perenchies,50.6686,2.9731,France,FR,FRA,Hauts-de-France,NaN,8519.0,1250110921
46352,Thaon-les-Vosges,Thaon-les-Vosges,48.2510,6.4200,France,FR,FRA,Grand Est,NaN,8513.0,1250742789
46356,Sautron,Sautron,47.2644,-1.6667,France,FR,FRA,Pays de la Loire,NaN,8512.0,1250927187
46373,Liffré,Liffre,48.2142,-1.5067,France,FR,FRA,Bretagne,NaN,8507.0,1250597226
46390,Saint-Vallier,Saint-Vallier,46.6428,4.3719,France,FR,FRA,Bourgogne-Franche-Comté,NaN,8503.0,1250395807

In [46]:
df_images.head()

     image_filename  latitude  longitude       city
0  streetview_0.jpg   48.8567     2.3522      Paris
1  streetview_1.jpg   44.8400    -0.5800   Bordeaux
2  streetview_2.jpg   43.2964     5.3700  Marseille
3  streetview_3.jpg   45.7600     4.8400       Lyon
4  streetview_4.jpg   43.6045     1.4440   Toulouse

# This code uses a square as a reference which overlap on France border countries such as Spain, Germany, Italy, etc.

import requests
import random
import time
import pandas as pd  # Import pandas to create a DataFrame

# Set up API Keys
STREET_VIEW_API_KEY = "*************************"  # Replace with your Google Street View API Key
num_coordinates = 1000  # We want to fetch 1000 coordinates

# France's bounding box (latitude, longitude)
lat_min = 41.3039
lat_max = 51.1242
lon_min = -5.325
lon_max = 9.6625

# Function to generate random coordinates within the bounding box of France
def generate_random_coordinate():
    lat = random.uniform(lat_min, lat_max)
    lon = random.uniform(lon_min, lon_max)
    return lat, lon

# Function to check if a location has Google Street View coverage
def check_streetview_coverage(lat, lon):
    url = f"https://maps.googleapis.com/maps/api/streetview/metadata?location={lat},{lon}&key={STREET_VIEW_API_KEY}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        return data.get("status") == "OK"
    return False

# List to store valid coordinates with Street View coverage
valid_coordinates = []

# Loop until we collect 1000 valid coordinates
while len(valid_coordinates) < num_coordinates:
    lat, lon = generate_random_coordinate()
    if check_streetview_coverage(lat, lon):
        valid_coordinates.append((lat, lon))
        print(f"Added valid coordinate: ({lat}, {lon})")
    
    # Sleep to prevent hitting API rate limits (adjust as needed)
    time.sleep(0.1)  # Reduce sleep time if your API allows higher frequency calls

# After the loop, valid_coordinates will contain the 1000 coordinates with Street View coverage
print(f"Successfully collected {len(valid_coordinates)} coordinates with Street View coverage.")

# Store the coordinates in a pandas DataFrame
df_coordinates4 = pd.DataFrame(valid_coordinates, columns=["Latitude", "Longitude"])

# Optionally, save the DataFrame to a CSV file
df_coordinates4.to_csv("valid_coordinates.csv", index=False)

# Print the first few rows of the DataFrame for verification
print(df_coordinates4.head())

In [ ]:
import requests
import random
import time
import pandas as pd  # Import pandas to create a DataFrame
import geopandas as gpd  # Import geopandas for geospatial data processing

# Set up API Keys
STREET_VIEW_API_KEY = "AIzaSyDugvJ210sXsrpBIRtR7B2tIsNNcFiJjqk"  # Replace with your Google Street View API Key
num_coordinates = 6990  # Number of coordinates to generate

# Load the France boundary from the JSON file (GeoJSON format)
france_gdf = gpd.read_file('/Users/mbouch17/Desktop/Personal_Data_Project/PinpointAI/france.json')  # Corrected path

# Function to generate random coordinates within the bounding box of France
def generate_random_coordinate():
    # Get the bounding box of the France polygon
    minx, miny, maxx, maxy = france_gdf.bounds.values[0]
    lat = random.uniform(miny, maxy)
    lon = random.uniform(minx, maxx)
    return lat, lon

# Function to check if a location has Google Street View coverage
def check_streetview_coverage(lat, lon):
    url = f"https://maps.googleapis.com/maps/api/streetview/metadata?location={lat},{lon}&key={STREET_VIEW_API_KEY}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        print(f"Response for {lat}, {lon}: {data['status']}")  # Debug print
        return data.get("status") == "OK"
    print(f"Failed request for {lat}, {lon}, status code: {response.status_code}")  # Debug if request fails
    return False

# List to store valid coordinates with Street View coverage
valid_coordinates = []

# Loop until we collect 5000 valid coordinates (or more)
while len(valid_coordinates) < num_coordinates:
    lat, lon = generate_random_coordinate()
    print(f"Generated coordinate: ({lat}, {lon})")  # Debug print for each generated coordinate
    if check_streetview_coverage(lat, lon):
        valid_coordinates.append((lat, lon))
        print(f"Added valid coordinate: ({lat}, {lon})")

    # Sleep to prevent hitting API rate limits (adjust as needed)
    time.sleep(0.1)  # Reduce sleep time if your API allows higher frequency calls

# After the loop, valid_coordinates will contain the valid coordinates with Street View coverage
print(f"Successfully collected {len(valid_coordinates)} coordinates with Street View coverage.")

# Store the coordinates in a pandas DataFrame
df_coordinates_fr7 = pd.DataFrame(valid_coordinates, columns=["Latitude", "Longitude"])

# Optionally, save the DataFrame to a CSV file
df_coordinates_fr7.to_csv("valid_coordinates_fr7.csv", index=False)

# Print the first few rows of the DataFrame for verification
print(df_coordinates_fr7.head())

Generated coordinate: (46.39156865262062, -1.869244206994976)
Response for 46.39156865262062, -1.869244206994976: ZERO_RESULTS
Generated coordinate: (44.67218562970552, 3.145519243543321)
Response for 44.67218562970552, 3.145519243543321: ZERO_RESULTS
Generated coordinate: (48.303201076950145, -2.730415986577303)
Response for 48.303201076950145, -2.730415986577303: ZERO_RESULTS
Generated coordinate: (42.892337080891664, 6.841027355624668)
Response for 42.892337080891664, 6.841027355624668: ZERO_RESULTS
Generated coordinate: (50.63198402699622, -0.38569424765415317)
Response for 50.63198402699622, -0.38569424765415317: ZERO_RESULTS
Generated coordinate: (50.34975699542742, 1.2599728240656098)
Response for 50.34975699542742, 1.2599728240656098: ZERO_RESULTS
Generated coordinate: (50.83572223146575, 2.453107087864285)
Response for 50.83572223146575, 2.453107087864285: ZERO_RESULTS
Generated coordinate: (50.25712321765179, 4.404532581102016)
Response for 50.25712321765179, 4.404532581102016: ZERO_RESULTS
Generated coordinate: (50.15867800542067, -3.777003341919192)
Response for 50.15867800542067, -3.777003341919192: ZERO_RESULTS
Generated coordinate: (45.12610121347881, 7.455763731358617)
Response for 45.12610121347881, 7.455763731358617: ZERO_RESULTS
Generated coordinate: (49.25619810197167, -3.5154590190448527)
Response for 49.25619810197167, -3.5154590190448527: ZERO_RESULTS
Generated coordinate: (49.52347494273347, -0.4616293096401147)
Response for 49.52347494273347, -0.4616293096401147: ZERO_RESULTS
Generated coordinate: (46.2920733121073, 2.708804980035465)
Response for 46.2920733121073, 2.708804980035465: ZERO_RESULTS
Generated coordinate: (48.86471577934915, 8.198379340722491)
Response for 48.86471577934915, 8.198379340722491: ZERO_RESULTS
Generated coordinate: (48.99491080528986, 0.9762683248573492)
Response for 48.99491080528986, 0.9762683248573492: ZERO_RESULTS
Generated coordinate: (44.684129636225244, -2.968364054582596)
Response for 44.684129636225244, -2.968364054582596: ZERO_RESULTS
Generated coordinate: (44.055854962992505, -2.8617636116291187)
Response for 44.055854962992505, -2.8617636116291187: ZERO_RESULTS
Generated coordinate: (45.32201834243544, -1.9548676460377514)
Response for 45.32201834243544, -1.9548676460377514: ZERO_RESULTS
Generated coordinate: (45.97443188715016, -1.3349132168210627)
Response for 45.97443188715016, -1.3349132168210627: OK
Added valid coordinate: (45.97443188715016, -1.3349132168210627)
Generated coordinate: (42.36292896938203, -2.665928721939457)
Response for 42.36292896938203, -2.665928721939457: ZERO_RESULTS
Generated coordinate: (44.98604691492397, 4.301706927803915)
Response for 44.98604691492397, 4.301706927803915: ZERO_RESULTS
Generated coordinate: (47.3426554357292, 5.981062096215023)
Response for 47.3426554357292, 5.981062096215023: OK
Added valid coordinate: (47.3426554357292, 5.981062096215023)
Generated coordinate: (47.66505275572294, 2.917281993958765)
Response for 47.66505275572294, 2.917281993958765: ZERO_RESULTS
Generated coordinate: (50.52111667861558, -3.239539552891748)
Response for 50.52111667861558, -3.239539552891748: ZERO_RESULTS
Generated coordinate: (48.480374537243975, 7.005046081223238)
Response for 48.480374537243975, 7.005046081223238: OK
Added valid coordinate: (48.480374537243975, 7.005046081223238)
Generated coordinate: (42.4932199824871, 0.9967771113096724)
Response for 42.4932199824871, 0.9967771113096724: ZERO_RESULTS
Generated coordinate: (44.956649558138466, 8.163219320532512)
Response for 44.956649558138466, 8.163219320532512: ZERO_RESULTS
Generated coordinate: (42.69458218326366, -1.5129315791948366)
Response for 42.69458218326366, -1.5129315791948366: ZERO_RESULTS
Generated coordinate: (43.680951823881315, 2.7856177851274007)
Response for 43.680951823881315, 2.7856177851274007: OK
Added valid coordinate: (43.680951823881315, 2.7856177851274007)
Generated coordinate: (43.151136807035996, 3.166288521888358)
Response for 43.151136807035996, 3.166288521888358: ZERO_RESULTS
Generated coordinate: (42.50384647762374, -3.7232133315343274)
Response for 42.50384647762374, -3.7232133315343274: ZERO_RESULTS
Generated coordinate: (48.02850450603071, 5.978707802000898)
Response for 48.02850450603071, 5.978707802000898: ZERO_RESULTS
Generated coordinate: (48.259407170568785, 3.852358975825565)
Response for 48.259407170568785, 3.852358975825565: ZERO_RESULTS
Generated coordinate: (47.478016575533346, 5.23955659101828)
Response for 47.478016575533346, 5.23955659101828: ZERO_RESULTS
Generated coordinate: (44.846744500133056, -1.9669415784328583)
Response for 44.846744500133056, -1.9669415784328583: ZERO_RESULTS
Generated coordinate: (47.47091246602577, -0.44434387573546363)
Response for 47.47091246602577, -0.44434387573546363: ZERO_RESULTS
Generated coordinate: (47.68546026285021, 0.8981333857571299)
Response for 47.68546026285021, 0.8981333857571299: ZERO_RESULTS
Generated coordinate: (49.03742304212811, -3.8540452568766526)
Response for 49.03742304212811, -3.8540452568766526: ZERO_RESULTS
Generated coordinate: (47.74173999656297, -4.0665606260053)
Response for 47.74173999656297, -4.0665606260053: ZERO_RESULTS
Generated coordinate: (44.25160649194102, 1.3970999310343872)
Response for 44.25160649194102, 1.3970999310343872: OK
Added valid coordinate: (44.25160649194102, 1.3970999310343872)
Generated coordinate: (50.31753285623373, 4.428483523604324)
Response for 50.31753285623373, 4.428483523604324: OK
Added valid coordinate: (50.31753285623373, 4.428483523604324)
Generated coordinate: (46.148569134096306, -3.619486740772512)
Response for 46.148569134096306, -3.619486740772512: ZERO_RESULTS
Generated coordinate: (48.71255015435886, 0.51667794090271)
Response for 48.71255015435886, 0.51667794090271: ZERO_RESULTS
Generated coordinate: (46.20881485098127, 1.0654184664794117)
Response for 46.20881485098127, 1.0654184664794117: ZERO_RESULTS
Generated coordinate: (43.60688295937986, 0.9058086609510241)
Response for 43.60688295937986, 0.9058086609510241: ZERO_RESULTS
Generated coordinate: (49.65230938997589, 7.310998431017957)
Response for 49.65230938997589, 7.310998431017957: ZERO_RESULTS
Generated coordinate: (45.167517679007865, 0.27871638819310984)
Response for 45.167517679007865, 0.27871638819310984: ZERO_RESULTS
Generated coordinate: (48.56333931300866, -2.2660588718433567)
Response for 48.56333931300866, -2.2660588718433567: ZERO_RESULTS
Generated coordinate: (43.959461044783914, -4.148828647790626)
Response for 43.959461044783914, -4.148828647790626: ZERO_RESULTS
Generated coordinate: (49.74740834732458, 5.1532513709052825)
Response for 49.74740834732458, 5.1532513709052825: ZERO_RESULTS
Generated coordinate: (49.72130941091095, -3.0783615656083616)
Response for 49.72130941091095, -3.0783615656083616: ZERO_RESULTS
Generated coordinate: (46.75897371832785, 6.916074698990119)
Response for 46.75897371832785, 6.916074698990119: ZERO_RESULTS
Generated coordinate: (42.9710390233096, 3.779283483885578)
Response for 42.9710390233096, 3.779283483885578: ZERO_RESULTS
Generated coordinate: (45.111434370177044, -3.462369320008145)
Response for 45.111434370177044, -3.462369320008145: ZERO_RESULTS
Generated coordinate: (45.51221565966378, 2.601871640227343)

In [8]:
df_coordinates_fr7.shape

NameError: name 'df_coordinates_fr7' is not defined